$header-height: 60px;
$footer-height: 60px;

$white: hsl(210, 40%, 96%);

// primary colors
$eylea-blue: rgb(0, 68, 107);
$eylea-yellow: rgb(255, 209, 0);

//secondary colors
$light-blue: rgba(173, 223, 237, 0.4);
$light-blue-accent: rgb(173, 223, 237);
$deep-blue: rgb(0, 43, 84);

$teal: rgb(96, 205, 203);
$teal-accent-1: rgba(96, 205, 203, 0.35);
$teal-accent-2: rgba(96, 205, 203, 0.7);
$dark-teal: rgb(44, 145, 153);

$light-grey: rgb(227, 228, 229);

$violet: rgb(147, 167, 203);

$base-grey: rgba(82, 82, 82);
$accent-grey: rgba(115, 115, 115);
$grey-50: #f9fafb;
$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-300: #d1d5db;
$grey-400: #9ca3af;
$grey-500: #6b7280;
$grey-600: #4b5563;
$grey-700: #374151;
$grey-800: #1f2937;
$grey-900: #111827;
